#buonaseraCards .row .card {
    background-color: rgb(43, 43, 43);
    color: white;
    h5 {
        font-size: 0.8em;
    }

}

#cardDinamiche .card {
    background-color: rgb(23, 23, 23);
    color: white;
    p {
        color: rgb(192, 191, 191);
        font-weight: 300;
    }
}

.card-img-top, #tribalAcidAle {
    cursor: pointer;
}

#dimmiGianluca {
    cursor: url('../imgs/icons/40.cur'), auto;
}

.ditoMedio {
    cursor: url('../imgs/icons/medio.cur'), auto;
}


input[type="range"] {
    width: 32rem;
    height: 0.3rem;
    background-color: blue;
    margin: 0 0.3rem;

    &::-moz-range-thumb {
        width: 10px;
        height: 10px;
        background: #dce0dc;
        cursor: pointer;
        border-radius: 50%;
    }

    &::-moz-range-track {
        background: rgb(137, 137, 163);
        height: 0.3rem;
    }

    &::-moz-range-progress {
        background: #4CAF50
    }
}

.titoloAlbumNewLungo {
    font-size: 4rem;
  }

.bi-suit-heart-fill {
    color: #f93838cf;
}

#artistIndex {
    cursor: pointer;
    &:hover{
        color: #4CAF50;

    }
}

.row.corpoAlbumArtist {
  padding-bottom: 8rem;
}

